/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.page-card{
  max-width: 450px;
  margin: 0 auto;
  background-color: rgb(236, 240, 243);
  color: rgb(20, 19, 19);
}


.page-button{
   margin:0 10px;
}
